<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>{{minutes.title}}</title>
    <link rel="stylesheet" href="static/style.css" type="text/css" media="all" />
</head>
<body>
		<h1>{{minutes.title}}</h1>
		<dl>
			<dt>Date</dt>
			<dd>{{minutes.date}}</dd>
			<dt>Chair</dt>
			<dd>{{minutes.chair}}</dd>
			<dt>Scribe</dt>
			<dd>{{minutes.scribe}}</dd>
			<dt>Participants</dt>
			<dd><ul>
				{% for participant in minutes.participants %}
				<li>{{participant.name}}</li>
				{% else %}
				<li>Just a one on one conversation</li>
				{% endfor %}
				</ul>
			</dd>
		</dl>
			<ul>
			{% for topic in minutes.topics %}
				<li><h3>{{topic.title}}</h3>
					{% for statement in topic.statements %}
					<p>{{statement.author}}: {{statement.text}}</p>
					{% endfor %}
				</li>
			{% else %}
			<li>Nothing was minuted</li>
			{% endfor %}
			</ul>
</body>
</html>
